*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
    font-family: 'open sans';
}

.contenedor{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo{
    color:#020152;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

header{
    width: 100%;
    height: 600px;
    background: #000046; 
    background: -webkit-linear-gradient(to right, #1cb5e04f, #000046), url(../img/avicola.jpeg );
    background: linear-gradient(to right, #1cb5e04f, #000046), url(../img/avicola.jpeg );
    background-size: cover;
    background-attachment:fixed;
}

nav{
    text-align: right;
    padding: 30px 50px 0 0;
}

nav>a{
    color: aliceblue;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}

nav>a:hover{
   text-decoration: underline;
}

header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1{
    font-size: 50px;
    color: #fff;
}

.textos-header h2{
    font-size: 30px;
    font-weight: 300;
    color: #fff;
}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.contenedor-sobre-nosotros{
    display: flex;
    justify-content: space-evenly;
}

.imagen-about-us-his{
width:48%;
}

.contenedor-sobre-nosotros .contenido-textos{
    width: 48%;
}

.contenedor-vision-mision{
    display: flex;
    justify-content: space-evenly;
}

.imagen-about-us{
    width: 48%;
}

.contenedor-vision-mision .contenido-textos{
    width: 48%;
}

.contenido-textos h3{
    margin-bottom: 15px;
}

.contenido-textos h3 span{
    background: #020152;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0,0, .5);
    margin-right: 5px;
}

.contenido-textos p{
    padding: 0px 0px 15px 15x;
    font-weight: 300;
    text-align: justify;
}

/*Galera*/

.portafolio{
    background: #fff;
}

.galeria-port{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-port{
    width: 24%;
    margin-bottom: 10px;
    height: 200px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0,0, .5);
}

.imagen-port >img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    /*transform: scale(0);*/
    background: hsla(273,91%,27%,0.7);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover-galeria p{
    color:#fff;
}

.imagen-port:hover .hover-galeria{
    transform: scale(0);
}

/*pagos*/

.pagos{
    display: flex;
    justify-content: space-evenly;
}
.pagos .pago{
    background: #211ec0;
    display:flex ;
    width: 40%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0,0, .6);
}

.pagos .pago img{
    width:  100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid #fff;
    border-radius: 50%;
    display: block;
}

.pagos.pago > .contenido-texto-pago{
    width: 60%;
    color: black;
}

/*contactos*/

.cards{
    display: flex;
    justify-content: space-evenly;
}

.cards .card{
    display: flex;
    width: 46%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
}

.cards .card img{
    width: 60px;
    height: 60px;
    object-fit: cover;
    border: 3px solid #fff;
    border-radius: 50%;
    display: block;
}

.cards .card > .contenido-texto-card{
    width: 60%;
    color: black;
}

.cards .card > .contenido-texto-card p{
    font-weight: 300;
    padding-top: 7px;
    text-align: justify;
}

/*productos*/

.about-productos{
    background: #120ee42c;
    padding-bottom: 30px;
}

.producto-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.producto-ind{
    width: 28%;
    text-align: center;
}

.producto-ind img{
    width: 150px;
    height:150px;
    object-fit: cover;
    display: block;
    
}

.producto-ind h3{
    margin: 10px 0;
}

/*footer*/

footer{
    background: #120fbd;
    padding: 25px 0 30px;
    margin: auto;
    overflow: hidden;
    width: 100%;
    background: linear-gradient(to right, #1cb5e04f, #000046), url(../img/avicola.jpeg);
    background-size: cover;
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #fff;
}

.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #fff;
}
